*
!Dockerfile
!package.json
!LICENSE
!bun.lock
!bunfig.toml
!tsconfig.json
!vite.config.ts
!react-router.config.ts
!app
!app/**
!public
!public/**
!scripts
scripts/*
!scripts/migrate.ts
!migrations
!migrations/**
